/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::before, *::after {
	box-sizing: border-box;
}

/* Font imports */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto-Thin'), url(./assets/fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
	src: local('Roboto-ThinItalic'), url(./assets/fonts/Roboto/Roboto-ThinItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto-Light'), url(./assets/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: local('Roboto-LightItalic'), url(./assets/fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	src: local('Roboto-Regular'), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: normal;
	src: local('Roboto-Italic'), url(./assets/fonts/Roboto/Roboto-Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	src: local('Roboto-Bold'), url(./assets/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: bold;
	src: local('Roboto-BoldItalic'), url(./assets/fonts/Roboto/Roboto-BoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'Kreon';
	font-weight: 300;
	src: local('Kreon-Light'), url(./assets/fonts/Kreon/static/Kreon-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Kreon';
	font-weight: normal;
	src: local('Kreon-Regular'), url(./assets/fonts/Kreon/static/Kreon-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Kreon';
	font-weight: 500;
	src: local('Kreon-Medium'), url(./assets/fonts/Kreon/static/Kreon-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'Kreon';
	font-weight: 600;
	src: local('Kreon-SemiBold'), url(./assets/fonts/Kreon/static/Kreon-SemiBold.ttf) format('truetype');
}
@font-face {
	font-family: 'Kreon';
	font-weight: bold;
	src: local('Kreon-Bold'), url(./assets/fonts/Kreon/static/Kreon-Bold.ttf) format('truetype');
}

/* Custom global styling */
html {
	/* This prevents elements from shifting when the scroll bar appears */
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100%));
  }
:root {
	font-size: 16px;
	font-family: 'Roboto';

	--h1-font-size: 3.5rem;
	--h2-font-size: 2.5rem;
	--h3-font-size: 2rem;
	--p-font-size: 1.1rem;
	--small-font-size: 0.9rem;

	--main-content-width: 50vw;
	--list-indent-width: 10px;

	--large-border-radius: 26px;
	--medium-border-radius: 16px;

	--large-text-padding: 20px;
	--medium-text-padding: 12px;

	--nav-bar-padding: 20px;
	--nav-bar-height: calc(var(--h2-font-size) + calc(var(--nav-bar-padding) * 2));
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Kreon';
}
h1 {
	font-size: var(--h1-font-size);
}
h2 {
	font-size: var(--h2-font-size);
}
h3 {
	font-size: var(--h3-font-size);
}
p {
	font-size: var(--p-font-size);
	line-height: calc(var(--p-font-size) + 5px);
}
small {
	font-size: var(--small-font-size);
}
ul {
	list-style-type: disc;
	list-style-position: inside;
}
li {
	font-size: var(--p-font-size);
	margin-bottom: 4px;
	padding-left: var(--list-indent-width)
}
textarea {
	font-family: 'Roboto';
	font-size: var(--p-font-size);
}